name: Upload Service Workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Node.js
        uses: actions/checkout@v4

      - name: run node.js test
        run: echo "Node.js test step is currently commented out."

        # uses: actions/setup-node@v2
      #   with:
      #     node-version: '22.12.0'
      # - name: Install dependencies
      #   run: npm install
      # - name: Run tests
      #   run: npm test